<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Serviços
          </h3>
          <p class="subtitle-a">
            Planejamento, codificação e implantação de software.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Desenvolvimento Web</h2>
            <p class="s-description text-center">
              Desenvolvomento de aplicações web com alta performance e disponibilidade.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Desenvimento de APIS</h2>
            <p class="s-description text-center">
              Desenvolvimento de apis beck-end com uma estrutura escalavel, clara e de alta performance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Desenvolvimento Mobile</h2>
            <p class="s-description text-center">
              Desenvolvimento de aplicativos hibridos e nativo para android.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi-person-fill-gear"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Consultoria Online</h2>
            <p class="s-description text-center">
              Cunsultoria em Engenharia de Software.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi-pie-chart"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Engenharia de Dados</h2>
            <p class="s-description text-center">
              Desenvolvimento e análise de dados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi-file-earmark-text"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Analise de Requisitos</h2>
            <p class="s-description text-center">
              Engenharia de requisitlos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section Services End /-->