<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Portfolio
          </h3>
          <p class="subtitle-a">
            Abaixo se encontra os principais projetos na qual participei.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
          <a href="assets/img/buscar-cep.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="assets/img/buscar-cep.png" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Buscador de CEP</h2>
                  <div class="w-more">
                    <a href=" https://joaolneto.github.io/buscar-cep" type="button" className="bnt">Visualizar</a>
                    <br />
                    <a href="https://github.com/joaolneto/buscar-cep" type="button">Repositorio</a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section Portfolio End /-->